body {
	background-image: url("https://cdn.akson.ru/i/49/49150/1000.jpg"); 
}

span.k-logo {
	font-family: "Tangerine", serif;
	font-size: 25px;
	font-style: italic;
}

h1.k-logo {
	font-family: "Tangerine", serif;
	text-shadow: 4px 4px 4px #aaa;
	font-style: italic;
}

.main-page {
	/*background-image: url("http://i5.beon.ru/35/22/472235/18/103994618/0.png");*/
	background-image: url("http://i7.beon.ru/11/64/2296411/64/111474364/0.png");
}

header.masthead {
	height: 100vh;
	min-height: 650px;
	padding-top: 0;
	padding-bottom: 0;
	/*background-image: url("https://art-oboi.com.ua/img/gallery/63/thumbs/thumb_l_25203.jpg");*/
	background-color: #737373;
}

section {
    padding: 8rem 0;
}

#carouselExampleIndicators {
	padding-left: 0;
	padding-right: 0;
}

.threads, .patterns {
	color: white;
	border: 1px solid black;
	border-bottom: 0;
	height: 120px;
	padding-top: 20px;
	padding-left: 5%;
	background-image: url("http://i7.beon.ru/11/64/2296411/64/111474364/0.png");
	background-color: rgba(0,0,0,0.5);
}

.patterns {
	border-left: 0;
}

.threads a, .patterns a {
	color: #ffffe6;
}

section div.row {
	margin-right: 0;
	margin-left: 0;
}

section.container {
	padding: 0;
	/*border: 2px dashed red;*/
}

.card {
	margin: 15px;
	margin-bottom: 10px;
	/*border: 2px dashed red;*/
}

.hr-line {
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 45%;
	padding-right: 45%;
}

hr {
	border-top: 1px solid black;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}