body {
	background-image: url("https://cdn.akson.ru/i/49/49150/1000.jpg"); 
}

.main-page {
	/*background-image: url("http://i5.beon.ru/35/22/472235/18/103994618/0.png");*/
	background-image: url("http://i7.beon.ru/11/64/2296411/64/111474364/0.png");
}

header.masthead {
	height: 100vh;
	min-height: 650px;
	padding-top: 0;
	padding-bottom: 0;
	/*background-image: url("https://art-oboi.com.ua/img/gallery/63/thumbs/thumb_l_25203.jpg");*/
	background-color: #737373;
}

section {
    padding: 8rem 0;
}

#carouselExampleIndicators {
	padding-left: 0;
	padding-right: 0;
}

.threads {
	border: 1px solid darkgrey;
	background-image: url("http://i7.beon.ru/11/64/2296411/64/111474364/0.png");
}

/*div.container {
	margin-bottom: 0;
	margin-top: 0;
}*/
section.container {
	padding: 0;
}


.assortment {
	/*background-image: url("http://i5.beon.ru/35/22/472235/18/103994618/0.png");*/
}

.card {
	margin: 15px;
	margin-bottom: 10px;
	/*border: 2px dashed red;*/
}

.text-order {
	padding: 25px;
	text-align: center;
}

.hr-line {
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 45%;
	padding-right: 45%;
}

hr {
	border-top: 1px solid black;
}

.form-shadow {
	/*background: grey;*/
	position: relative;
	top: 0;
	left: 0;
}

.form-shadow:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  top: -4px;
  left: -4px;
}

.form {
	width: 100%;
	height: 350px;
	padding-top: 20px; 
	margin-bottom: 20px;
	/*border: 2px dashed red;*/
	/*border: 1px solid black;*/

}

.form2 {
	/*padding: 10px;*/
}

.container2 {
	width: 95%;
	margin-left: auto;
    margin-right: auto;
	/*border: 2px dashed red;*/
}

.container3 {
	width: 100%;
	margin-left: auto;
    margin-right: auto;
	/*border: 2px dashed green;*/
}

.image-cover {
	overflow: hidden;
	margin: 0 auto;
	width: 80%;
	height: 80%;
	/*border: 2px dashed black;*/
}

.all-image {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	/*border: 2px dashed green;*/
}
